@using BlogWebApp.ViewModel;
@model BlogVM;

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Add Blog";
}
<style>
    .image-picker-div{
        display: none;
    }
</style>
<section class="section">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <!-- Vertical Form -->
                    <form class="row g-3" action="/Blog/AddBlog" method="post">
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label label-title">Blog Title</label>
                            <input type="text" class="form-control blogtitle">
                        </div> 
                        <div class="col-12">
                            <label asp-for="Body" class="form-label label-title">Blog Body</label>
                            @* <input type="text" class="form-control" id="inputNanme4"> *@
                            <div class="card mb-1">
                                <div class="card-body">
                                    @* <h5 class="card-title">Quill Editor Default</h5> *@

                                    <!-- Quill Editor Default -->
                                    <div asp-for="Body" class="quill-editor-default blogbody">
                                        <p>Hello World!</p>
                                        <p>This is Quill <strong>default</strong> editor</p>
                                    </div>
                                    <!-- End Quill Editor Default -->

                                </div>
                            </div>

                        </div>
                       
                        <div class="col-12 d-flex">
                            <label asp-for="BlogCategoryId" class="form-label label-title">Category:</label>
                            @if (ViewBag.Categories != null)
                            {
                                <select asp-for="BlogCategoryId" asp-items="@ViewBag.Categories" class="form-control blogcategory"></select>
                            }
                            else 
                            {
                                <span> No Categories Added</span>                            
                            }

                        </div> 
                        <div class="col-12 d-flex">
                            <label for="inputNanme4" class="form-label me-4 label-title">Has Image ?</label>
                            <div class="form-check ms-3 form-switch has-image">
                                <input class="form-check-input has-image" type="checkbox" id="flexSwitchCheckDefault"> 
                            </div>
                        </div> 
                        
                        <div class="col-12 mt-1 image-picker-div">
                            <label for="inputAddress" class="form-label">Pick File </label>
                            <input id="input-file" type="file" accept="image/*" name="input-file[]" multiple>
                        </div>
                        <div class="text-left">
                            <button type="button" class="btn btn-primary rounded-pill publishPost"> <i class="bi bi-collection"></i> Publish </button>
                            @* <button type="reset" class="btn btn-secondary">Reset</button> *@
                        </div>
                    </form><!-- Vertical Form -->

                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.8/js/fileinput.min.js"></script>

 <script type="text/javascript">
    $(document).ready(function () {

        $("#input-file").fileinput({
            showUpload: false,
            showRemove: false,
            maxFileCount: 3 // Limit the maximum number of files
        });

        $('.has-image.form-switch').click(function () {
            // Check if the toggle switch is checked
            if ($(".has-image").is(':checked')) {
                // If checked, show the div element
                $('.image-picker-div').show();
            } else {
                // If not checked, hide the div element
                $('.image-picker-div').hide();
            }
        });

        var fileLinks = []; // Array to store file links

        // $('#input-file').change(function () {

        // });

        $(".publishPost").click(async function () {

            var files = $('#input-file')[0].files;
            if (files.length === 0) {
                alert('Please select one or more files.');
                return;
            }

            for (var i = 0; i < files.length; i++) {

                var file = files[i];
                if (file.size > 3 * 1024 * 1024) {
                    alert('File size exceeds 3MB limit');
                    continue; // Move to the next file
                }
                var formData = new FormData();
                formData.append('file', file);
                await $.ajax({
                    url: 'File/UploadFile',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log('File uploaded successfully:', response);
                        // Assuming response contains the link to the uploaded file
                        fileLinks.push({ ImageName: file.name, Url: response });
                    },// Assuming fileLink is the key for the link in the response

                    error: function (xhr, status, error) {
                        console.error('Error uploading file:', error);
                    }
                });
            }
            var model = {
                Title: $(`.blogtitle`).val(),
                Body: $(`.blogbody`).html(),
                BlogCategoryId: parseInt($(`.blogcategory`).val()),
                BlogImages: fileLinks
            }
            debugger;
            await $.ajax({
                url: '/Blog/AddBlog',
                type: 'POST',
                data: model,
               
                success: function (response) {
                    console.log(response);
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.log(error);
                }
            });
        });
    });


    

</script> 
   
